* {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
}

#btn {
    display: block;
    margin-top: 20px;
    margin-left: 150px;
    font-size: 20px;
}
